<a href="https://colab.research.google.com/github/LaimengEung/inf-604-data-analysis-i-repo/blob/master/Copy_of_Lab2_Univariate_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lab2: Univariate Analysis**

**Course**: **INF-604: Data Analysis** <br>
**Lecturer**: **Sothea HAS, PhD**

-----

**Objective:** In this lab, you will explore the columns of a dataset according to their data types. Your task is to employ various techniques, including statistical values and graphical representations, to understand the dataset before conducting deeper analysis.

- Or you can work directly with `Google Colab` here: [Lab2_Univariate_Analysis.ipynb](https://colab.research.google.com/drive/1zSadIatlKFlzgJr2thsEoEb-yq3-r-7h?usp=sharing).


-----

# 1. `Food Delivery` Dataset

This dataset contains food delivery times based on various influencing factors such as distance, weather, traffic conditions, and time of day. It offers a practical and engaging challenge for machine learning practitioners, especially those interested in logistics and operations research. Read and load the data from kaggle: [Food Delivery Dataset](https://www.kaggle.com/datasets/denkuznetz/food-delivery-time-prediction/data).

In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("denkuznetz/food-delivery-time-prediction")

# Import data
import pandas as pd
data = pd.read_csv(path + "/Food_Delivery_Times.csv")
data.head()

Downloading to C:\Users\eungl\.cache\kagglehub\datasets\denkuznetz\food-delivery-time-prediction\1.archive...

100%|██████████| 11.6k/11.6k [00:00<00:00, 9.47MB/s]

Extracting files...

,Order_ID,Distance_km,Weather,Traffic_Level,Time_of_Day,Vehicle_Type,Preparation_Time_min,Courier_Experience_yrs,Delivery_Time_min
0,522,7.93,Windy,Low,Afternoon,Scooter,12,1.0,43
1,738,16.42,Clear,Medium,Evening,Bike,20,2.0,84
2,741,9.52,Foggy,Low,Night,Scooter,28,1.0,59
3,661,7.44,Rainy,Medium,Afternoon,Scooter,5,1.0,37
4,412,19.03,Clear,Low,Morning,Bike,16,5.0,68

**A.** What's the dimension of the data? Which variables are considered quantitative and which are qualitative?

> **Answer:**...

In [2]:
data.shape

(1000, 9)

In [7]:
data.dtypes

Order_ID                    int64
Distance_km               float64
Weather                    object
Traffic_Level              object
Time_of_Day                object
Vehicle_Type               object
Preparation_Time_min        int64
Courier_Experience_yrs    float64
Delivery_Time_min           int64
dtype: object

In [14]:
data = data.drop(columns='Order_ID')

In [16]:
data.dtypes

Distance_km               float64
Weather                    object
Traffic_Level              object
Time_of_Day                object
Vehicle_Type               object
Preparation_Time_min        int64
Courier_Experience_yrs    float64
Delivery_Time_min           int64
dtype: object

In [20]:
# Select the type using 'select_dtypes()'
data.select_dtypes(include='number').columns.to_list()

print(f"Quantitative data are in columns: {data.select_dtypes(include='number').columns.to_list()}")
print(f"Qualitative data are in columns: {data.select_dtypes(exclude='number').columns.to_list()}")

Quantitative data are in columns: ['Distance_km', 'Preparation_Time_min', 'Courier_Experience_yrs', 'Delivery_Time_min']
Qualitative data are in columns: ['Weather', 'Traffic_Level', 'Time_of_Day', 'Vehicle_Type']

**B. Qualitative variables:**

- Create statistical summary of qualitative columns.

- Create graphical representation of these qualitative columns to understand them better.

- Explain each column based on the stastical values and graphs.

In [ ]:
for var in

**C. Quantitative variables:**

- Create statistical summary of quantiative columns.

- Create graphical representation of these quantitative columns to understand them better.

- Explain each column based on the stastical values and graphs.

- Are there any columns with outliers?

In [ ]:
# summary of quantitative data is just .describe()
data.describe()

,Distance_km,Preparation_Time_min,Courier_Experience_yrs,Delivery_Time_min
count,1000.000000,1000.000000,970.000000,1000.000000
mean,10.059970,16.982000,4.579381,56.732000
std,5.696656,7.204553,2.914394,22.070915
min,0.590000,5.000000,0.000000,8.000000
25%,5.105000,11.000000,2.000000,41.000000
50%,10.190000,17.000000,5.000000,55.500000
75%,15.017500,23.000000,7.000000,71.000000
max,19.990000,29.000000,9.000000,153.000000

## **2. Cardiovascular Disease dataset**

This dataset consists of 70 000 records of patients data, 11 features and a column of the presence or absence of cardiovascular disease. The data can be downloaded from kaggle using the following link: [Cardiovascular Disease dataset](https://www.kaggle.com/datasets/sulianova/cardiovascular-disease-dataset).

**Task:** Analyze each column of the provided data by answering the questions listed in the previous section.

# **Further Reading**

- `Pandas` python library: [https://pandas.pydata.org/docs/getting_started/index.html#getting-started](https://pandas.pydata.org/docs/getting_started/index.html#getting-started)

- `Pandas Cheatsheet`: [https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)

- `10 Minute to Pandas`: [https://pandas.pydata.org/docs/user_guide/10min.html](https://pandas.pydata.org/docs/user_guide/10min.html)

- `Some Pandas Lession`: [https://www.kaggle.com/learn/pandas](https://pandas.pydata.org/docs/user_guide/10min.html)